
*{
 margin: 0;  
 padding: 0; 
 box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 62.5%;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}

body{
  font-family: sans-serif; 
  color: rgb(228, 238, 242);
  font-size:1.2rem;
  margin: 0;
  line-height: 1.6em;
  width:100vw;
}


   


@keyframes float{
    0%{ opacity: 0.8;}
   
    100%{opacity:0;}
}



/* INDEX MODIFICACIONES CON BOOTSTRAP*/
.navbar-nav{
    font-size: 3em;
    margin: 1em;
}
.container-fluid{
    background-color: rgb(204, 229, 218);
}
.img-thumbnail{
    width: 150px;
    height: 150px;
}
.logoFooter{
    width: 150px;
    height: 150px;  
}
.card-title{
    
    color: black;
    align-items: center;
}
.card-text{
   
    color: black;
    align-items: center;

}
.card-img{
    width:280px;
    height:300px;
}


.imgBlancoNegro{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}
.img__blancoynegro{
    margin: 5px;
    padding:5px;
    width: 150px;
    height:150px;
    object-fit: cover;   
}

.redesFooter{
    display:flex;
    flex-direction: row;
    

    width:30px;
    height:30px;
} 
.infoAyuda{
    display:flex;
    flex-direction: row;
    
}

.footer{
    font-size:1em ;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
/* PROPAGANDA MODIFICACIONES CON BOOTSTRAP*/

.container{
    font-size: 2em;
    justify-content: space-between;
    border: #cbf6ec solid;
    

}


/* A PARTIR DE ACA REHACER*/
  






  
  
  

  
  
  
  
  
 
  

 


/* GRID NOSOTROS*/
.gridBodyNosotros{
    display:grid;
    grid-template-rows: 0.5, 3fr, 0.5fr, 0.5fr;
    grid-template-columns: 2fr , 2fr;
    margin: 0 auto;
    width:100%;
    
   
    grid-template-areas:
    " header header"
    " nosotros nosotros"
    "logos logos "
    "footer footer"
}
.gridHeader{
    grid-area: header;
}
.gridNosotros{
  grid-area: nosotros;
  grid-column-gap:20px ;
}
.gridLogos{
    grid-area:logos;

}
.gridFooter{
    grid-area:footer;
}

.card-title{
    margin: 5px;
    padding:5px;
    font-size: 3em;
    
}
.card-text{
    font-size: 2em;
    line-height: 1cm;
    text-align: justify;

}

.imgnosotros{
    display:flex;
    height:100vh;
    margin: 10px;
    padding:10px;
}







/* GRID PRODUCTOS*/

.gridBodyProductos{

    display:grid;
    grid-template-rows: 0.5, 3fr, 0.5fr, 0.5fr;
    grid-template-columns: 4fr ;
    margin: 0 auto;
    width:100%;
    grid-template-areas: 
    " header "
    " productos"
    "logos "
    "footer "
}

.gridHeader{
    grid-area: header;
}
.gridNuestrosProductos{
  grid-area: productos;
 
}

.gridFooter{
    grid-area:footer;
}


.texto__producto{
    font-size:medium;
    color: black;
    letter-spacing: normal;
    text-align: justify;
}
.texto__producto{
    font-size:medium;
    color: black;
    letter-spacing: normal;
    text-align: justify;
    float: right; 
    margin: 20px;
    padding:20px;
}
.plan__detox{
    font-size:x-large;
    color: black;
    text-align: justify;
    letter-spacing:normal;
    text-transform: uppercase;
    margin: 5px;
}

.texto__detox{
    font-size:medium;
    color: black;
    letter-spacing: normal;
    text-align: justify;
    float: right; 
    margin: 20px;
    padding:20px;
}
.limpieza{
   
    font-size:x-large;
    color: black;
    text-align: justify;
    letter-spacing:normal;
    text-transform: uppercase; 
}

.tituloNuestrosProductos{
    font-size:x-large;
    color: black;
    text-align: justify;
    letter-spacing:normal;
    text-transform: uppercase;
    margin: 5px;
}
.textoNuestrosProductos{
    font-size:medium;
    color: black;
    letter-spacing: normal;
    text-align: justify;
    margin: 20px;
    padding:20px;
}
.carousel-inner{
    width:400px;

}

/* GRID GALERIA*/

.gridBodyGaleria{

display:grid;

    grid-template-rows: 0.5fr, 3fr, 3fr, 0.5fr;
    grid-template-columns: repeat(4, 1fr) ;
    margin: 0 auto;
    width:100%;
    grid-template-areas: 
    " header header header header "
    " galeria galeria galeria galeria"
    " galeria galeria galeria galeria"
    "footer footer footer footer"

}

.gridHeader{
    grid-area: header;
}

.gridGaleria{
    grid-area: galeria;
    flex-wrap: wrap;
  
}

.gridFooter{
    grid-area:footer;
}




.caja__fotos{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(2, 1fr);
 align-content: space-around;
 justify-content: space-around;
 grid-column-gap: 20px;
 grid-row-gap: 20px;
padding: 40px;


}

.fotos{

    border:3px  rgb(139, 243, 200);
     width:300px;
   display: flex;
   flex-direction: row;
   object-fit: cover;
   flex-wrap: nowrap;
   
}







/* GRID CONTACTO*/
.gridBodyContactos{

    display:grid;
    grid-template-rows: 0.5, 3fr, 3fr, 0.5fr;
    grid-template-columns: 2fr, 2fr ;
    margin: 0 auto;
    width:100%;
    grid-template-areas: 
    " header header "
    " consultas consultas"
    "mapa mapa "
    "footer footer "

}

.gridHeader{
    grid-area: header;
}
.gridConsultas{
    grid-area: consultas;
}

.gridMapa{
    grid-area: mapa;
}


.gridFooter{
    grid-area:footer;
}




.main__contacto__section{
    display:grid;


}
.caja__formulario{
    border-color: rgb(71, 142, 118);
    border-style: solid, 3px;
    align-content: center;
}
.fondo__formulario{
    width: 60%;
    height: 70%;
    margin: 20px;
    padding: 20px;
    border: solid, 5px;
    color: rgb(3, 3, 3);
    flex-direction: column;
    justify-content: center;
    font-size: medium;
 

}
.DondeNosEncontramos{
    margin: 20px;
    flex-direction: column;
    justify-content:start;
    font-size: medium;
    color: black;
 
}

.gridBodyContactos{
    background-image: radial-gradient(circle, #c5caca, #cbd1d1, #d1d9d9, #d8e0e0, #dee8e7, #dfeae9, #e0ebea, #e1edec, #ddeae8, #dae6e4, #d6e3e0, #d3dfdc);
}

 


/* GRID PORQUE ORGANIC JUICES   */



.porque__organic{
    margin: 5px;
    padding: 5px;
    font-size:xx-large;
    color: black;
    text-align: justify;
    letter-spacing:normal;
}
.porque__texto{
    font-size:medium;
    color: black;
    letter-spacing: normal;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.porque__texto__lista{
    font-size:medium;
    color: black;
    letter-spacing: normal;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
}
.porque__foto{
    padding:20px;
    margin:20px;
    border:2px solid white;
   width:300px;
   display: flex;
   flex-direction: row;
   justify-content: start;

}


/* MEDIA QUERIE VISTA MOBILE  */

@media only screen and (max-width: 320px){

    .gridContainer{
        margin: auto;
        display:grid;
       grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.2fr, 1fr, 0.2fr;
        grid-template-areas: 
        " header "
        "contenidos "
       "footer "
     
    }
    
   .header{
       grid-area:header;
   }
   
   .contenidos{
       grid-area:contenidos;
   }

   .footer{
       grid-area:footer;
      flex-wrap: wrap;
    }

  
    .border{
        border: 1px , solid, black;
    }

  

  
    .header{
        font-size: 1em;
        flex-wrap: wrap;
        
    }
    .cabezera__indices{
        font-size: 1em;
        flex-wrap:wrap;
    }

    .video{
        width: 200px;
        flex-wrap:wrap;

    }
    .gridBodyGaleria{
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, 1fr);
         flex-wrap: wrap;
         width: 50%;
    }
   
    
    .pro__section{
        width:200px;

    }
  
    .foto__principal{

        width: 50%
    }
}

/* MEDIA QUERIE VISTA TABLET  */

@media only screen and (max-width: 768px){


    .gridContainer{
        margin: auto;
        display:grid;
       grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.2fr, 1fr, 0.2fr;
        grid-template-areas: 
        " header header "
        "contenidos contenidos "
       "footer footer "
     
    }

    .header{
        grid-area:header;
    }
    
    .contenidos{
        grid-area:contenidos;
    }
 
    .footer{
        grid-area:footer;
    
     }
 
   
     .border{
         border: 1px , solid, black;
     }
 
     .gridGaleria{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        flex-wrap: wrap;

     }
 
   
     .header{
         font-size: 1em;
         flex-wrap: wrap;
       
         
     }
     .cabezera__indices{
         font-size: 1em;
     }
 
     .video{
         width: 300px;
     
 
     }
     .fotos{
 
         width: 100px;
 
     }
 
     .pro__section{
         width:300px;
 
     }
     .texto__encabezado{
         font-size: 1em;
         flex-wrap: wrap;
     }
     .foto__principal{
 
         width: 50%
     }

}