
*{
 margin: 0;  
 padding: 0; 
 box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 62.5%;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}

body{
  font-family: sans-serif; 
  color: rgb(228, 238, 242);
  font-size:1.2rem;
  margin: 0;
  line-height: 1.6em;
  width:100vw;
}


   


@keyframes float{
    0%{ opacity: 0.8;}
   
    100%{opacity:0;}
}



/* INDEX MODIFICACIONES CON BOOTSTRAP*/

.h1{
    display:flex;
    justify-content:center;

}
.navbar-nav{
    font-size: 2em;
    margin: 1em;
}
.container-fluid{
    background-color: rgb(204, 229, 218);
}
.img-thumbnail{
    width: 150px;
    height: 150px;
}

.col{
    margin: 20px;
    padding :20px;
    
}


.logoFooter{
    width: 150px;
    height: 150px;  
}
.card-title{
    
    color: black;
    display: flex;
    align-items: center;
}
.card-text{
   
    color: black;
    align-items: center;

}
.card-img{
    width:280px;
    height:300px;
}


.imgBlancoNegro{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 5px;
    padding:5px;
    width: 150px;
    height:150px;
    object-fit: cover; 
}
.img__blancoynegro{
    margin: 5px;
    padding:5px;
    width: 150px;
    height:150px;
    object-fit: cover;   
}

.redesFooter{
    display:flex;
    flex-direction: row;
    

    width:30px;
    height:30px;
} 
.infoAyuda{
    display:flex;
    flex-direction: row;
    
}

.footer{
    font-size:1em ;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.animate__heartBeat{
  animation-duration: infinite;

}


/* PROPAGANDA MODIFICACIONES CON BOOTSTRAP*/

.container{
    font-size: 2em;
  
    

}


/* GALERIA*/
.galeria{
 margin-left: 10px;
}
  
.img-fluid{
    display:inline-block;
     flex-wrap: wrap;
     width:30rem;
     height:30rem;
 }
 


/*  NOSOTROS*/


.card-title{
    margin: 5px;
    padding:5px;
    font-size: 3em;
    
}
.card-text{
    font-size: 2em;
    line-height: 1cm;
    text-align: justify;

}



/*  PRODUCTOS*/


.img-productos{
    width:20%;
    height:20%;
    object-fit: cover;
    display: flex;
    justify-content:space-between;
   
}



/*  PORQUE ORGANIC JUICES   */


.img3{
    width:600px;
    height:600px;
    object-fit: cover ;
}

/*  CONTACTOS*/

.formularioContacto{
  
    width:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.mb-3{
    width:50%;
  

}

#exampleDataList{
    width:50%;  
}
.mapaContacto{
    width:50%;   
}