
*{
 margin: 0;  
 padding: 0; 
 box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 62.5%;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}

body{
  font-family: sans-serif; 
  color: rgb(228, 238, 242);
  font-size:1.2rem;
  margin: 0;
  line-height: 1.6em;
  width:100vw;
}


.header{
  background:rgb(188, 200, 195);
  color:black;
  padding:10px;
  width:100%;
  top:0;
  flex-wrap: nowrap;

}



  
.footer__piedepagina{
    background:rgb(188, 200, 195);
       width:100%; 
       display:flex;
       flex-direction: row; 
       justify-content:space-between;
       align-items: center;
}

  
  
.infoyayuda{
       margin: 20px;
       padding:20px;
       color: black;
       text-align: right;
       text-decoration: underline;
       text-align: justify;
       justify-content:flex-end;
       font-size:1.5em;
       align-content: end;    
}
  
.info__ayuda{
      color: black;
       text-align: right;
       text-decoration:uppercase;
       text-align: justify;
       justify-content:flex-end;
       font-size: 1.2em;
       align-content:end;
       
}

.info__ayuda__enlace{
  
      color: black;
      text-align: right;
      text-decoration:uppercase;
      text-align: justify;
      justify-content:flex-end;
      font-size: medium;
      align-items: end;
      
}
.listaFooter{
       color: black;
       text-align: right;
       
}
.logo__footer{
      letter-spacing:normal;
     font-size: large;
     color: black;
     text-decoration: none;
     text-align: left;
     justify-content: flex-start; 
}
.seguinos{
       color: black;
       text-align: center;
      align-items:center;
      display:flex;
      flex-direction:column;
      justify-content:center;
      
       
}
.redes__footer{
    width:10%;
    height:10%;
    display:flex;
    flex-direction: row;
     justify-content:center;
     flex-wrap: nowrap; 
}


.propaganda__section{
    display:inline-flex;
    animation: float 0.5s alternate infinite;
}
@keyframes float{
    0%{ opacity: 0.8;}
   
    100%{opacity:0;}
}
#logo{
    width: 10%;
    height: 10%;
    margin: 5px;
    padding:5px;
    display: flex;
   flex-direction: row;
   justify-content: flex-start;
   object-fit: cover;
  
   
  }
  .logoFooter{
      width: 30%;
      height: 30%;
      margin: 5px;
      padding:5px;
      display: flex;
     flex-direction: row;
     justify-content: flex-start;
    
  
  }
  
  
  .cabezera{
      color: black;
      text-decoration: none;
      display:flex;
      justify-content: space-between flex-end;
      align-items: center;
      font-size:1.5em;
      text-decoration: none;
  
  }
  .cabezera__indices:hover{
      background-color: rgb(235, 246, 241);

  }
  .cabezera__indices{
      
      padding: 3px;
      margin: 3px;
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-weight: bold;
  }

/* GRID INDEX*/
.gridBodyIndex{
    display:grid;
    grid-template-rows:0.5fr, 2fr, 1fr, 0.2fr , 0.5fr; 
    grid-template-columns: 1fr , 1fr ,1fr ;
    margin: 0 auto;
    width:100%;
    justify-items: stretch;
    grid-template-areas:
    " header header header"
    " productos productos productos"
    " publicidad publicidad publicidad"
    "logos logos logos"
    "footer footer footer"
      
    
}
.gridHeader{
    grid-area: header;
 justify-content:center;

}
.gridProductos{
    grid-area: productos;
    justify-content:center;
}

.gridPublicidad{
    grid-area:publicidad;
    
}

.gridLogos{
    grid-area:logos;
    display:flex;
    flex-direction:row;
    justify-content:space-around;

}
.gridFooter{
    grid-area:footer;
}




  
  
  .container__nav{
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem, 1rem;
      margin: 2rem;
  }
  
  .foto1{
      display:flex;
      justify-content: center;
      align-items: center;
      object-fit: cover;
  
  }
  
  .foto__principal{
    
    margin: 10px;
      padding:10px;
      border:2px solid white;
     width:100%;
     height: 80vh;
     display:flex center;
    object-fit: cover;
    
  }  
  
  .texto__encabezado{
      margin: 10px;
      padding:20px;
      font-size:1.5em;
      color: black;
      text-transform: uppercase;
      letter-spacing:normal;
      text-align: center;
      
  }
  .propaganda__section{
      font-size:large;
      font-weight: bold;
      color: black;
      background-color: rgb(152, 189, 180);
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content:center;
     flex-wrap: nowrap;
  }
  .propaganda__section__dosporuno{
      margin:5px;
      padding:5px;
      justify-content:center;
      line-height: 0.5cm;
      text-align: center;
  }
  .propaganda__texto{
      margin: 10px;
      padding:10px;
      font-size:large;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: justify;
      
  }  
  .propaganda__texto__titulo{
      margin: 5px;
      padding: 5px;
      font-size:large;
      color: black;
      text-transform: uppercase;
      text-align: center;
      display:flex;
      flex-direction: column;
      justify-content:center; 
  }   
  .propaganda__texto__parrafo{
      margin: 5px;
      padding: 5px;
      font-size:large;
      color: black;
      text-align: justify;
      display:flex;
      flex-direction: column;
      justify-content: start center; 
    
  }
  
  .propaganda{
      display: flex;
      flex-direction: row;
      justify-content:flex-end;
      border-color: rgb(84, 191, 164);
      border: solid, 3px;
      
  }
  
  .video{ 
       font-size: small;
      color: black;
      width: 500px;
      text-align: right;
      display: flex;
      flex-direction: row;
      justify-content:flex-end;
      margin:10px;
      padding:10px;
      margin-bottom: 20px;
      background-color: white;
      flex-wrap: nowrap;
      
  
  }
  .pro__section{
      font-size: small;
      color: black;
      flex-direction: right;
      justify-content:flex-end;
      width: 400px;
      text-align: right;
     
  
  }
  
.img__blancoynegro{
    margin: 5px;
    padding:5px;
    width: 16%;
    object-fit: cover;   
}

 


/* GRID NOSOTROS*/
.gridBodyNosotros{
    display:grid;
    grid-template-rows: 0.5, 3fr, 0.5fr, 0.5fr;
    grid-template-columns: 2fr , 2fr;
    margin: 0 auto;
    width:100%;
    
   
    grid-template-areas:
    " header header"
    " nosotros nosotros"
    "logos logos "
    "footer footer"
}
.gridHeader{
    grid-area: header;
}
.gridNosotros{
  grid-area: nosotros;
  grid-column-gap:20px ;
}
.gridLogos{
    grid-area:logos;

}
.gridFooter{
    grid-area:footer;
}

.titulo__nosotros{
    font-size:xx-large;
    color: black;
    text-align: justify;
    letter-spacing:normal;
    margin: 10px;
    padding:10px;
}
.imgnosotros{
    display:flex;
    height:100vh;
    margin: 10px;
    padding:10px;
}

.imagen__nosotros{
    padding:10px;
    border:2px solid white;
    width:50%;
}
.titulonos{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;

}
.texto__nosotros{
    margin:10px;
    padding:10px;
    font-size:medium;
    color: black;
    letter-spacing: normal;
    text-align: justify;
    float:left;
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1cm;
}




/* GRID PRODUCTOS*/

.gridBodyProductos{

    display:grid;
    grid-template-rows: 0.5, 3fr, 0.5fr, 0.5fr;
    grid-template-columns: 4fr ;
    margin: 0 auto;
    width:100%;
    grid-template-areas: 
    " header "
    " productos"
    "logos "
    "footer "
}

.gridHeader{
    grid-area: header;
}
.gridNuestrosProductos{
  grid-area: productos;
 
}

.gridFooter{
    grid-area:footer;
}


.texto__producto{
    font-size:medium;
    color: black;
    letter-spacing: normal;
    text-align: justify;
}
.texto__producto{
    font-size:medium;
    color: black;
    letter-spacing: normal;
    text-align: justify;
    float: right; 
    margin: 20px;
    padding:20px;
}
.plan__detox{
    font-size:x-large;
    color: black;
    text-align: justify;
    letter-spacing:normal;
    text-transform: uppercase;
    margin: 5px;
}

.texto__detox{
    font-size:medium;
    color: black;
    letter-spacing: normal;
    text-align: justify;
    float: right; 
    margin: 20px;
    padding:20px;
}
.limpieza{
   
    font-size:x-large;
    color: black;
    text-align: justify;
    letter-spacing:normal;
    text-transform: uppercase; 
}

.fotoProducto{
    width: 500px;
    height: 500px;
   
    

}
.tituloNuestrosProductos{
    font-size:x-large;
    color: black;
    text-align: justify;
    letter-spacing:normal;
    text-transform: uppercase;
    margin: 5px;
}
.textoNuestrosProductos{
    font-size:medium;
    color: black;
    letter-spacing: normal;
    text-align: justify;
    margin: 20px;
    padding:20px;
}


/* GRID GALERIA*/

.gridBodyGaleria{

display:grid;

    grid-template-rows: 0.5fr, 3fr, 3fr, 0.5fr;
    grid-template-columns: repeat(4, 1fr) ;
    margin: 0 auto;
    width:100%;
    grid-template-areas: 
    " header header header header "
    " galeria galeria galeria galeria"
    " galeria galeria galeria galeria"
    "footer footer footer footer"

}

.gridHeader{
    grid-area: header;
}

.gridGaleria{
    grid-area: galeria;
    flex-wrap: wrap;
  
}

.gridFooter{
    grid-area:footer;
}




.caja__fotos{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(2, 1fr);
 align-content: space-around;
 justify-content: space-around;
 grid-column-gap: 20px;
 grid-row-gap: 20px;
padding: 40px;


}

.fotos{

    border:3px  rgb(139, 243, 200);
     width:300px;
   display: flex;
   flex-direction: row;
   object-fit: cover;
   flex-wrap: nowrap;
   
}







/* GRID CONTACTO*/
.gridBodyContactos{

    display:grid;
    grid-template-rows: 0.5, 3fr, 3fr, 0.5fr;
    grid-template-columns: 2fr, 2fr ;
    margin: 0 auto;
    width:100%;
    grid-template-areas: 
    " header header "
    " consultas consultas"
    "mapa mapa "
    "footer footer "

}

.gridHeader{
    grid-area: header;
}
.gridConsultas{
    grid-area: consultas;
}

.gridMapa{
    grid-area: mapa;
}


.gridFooter{
    grid-area:footer;
}




.main__contacto__section{
    display:grid;


}
.caja__formulario{
    border-color: rgb(71, 142, 118);
    border-style: solid, 3px;
    align-content: center;
}
.fondo__formulario{
    width: 60%;
    height: 70%;
    margin: 20px;
    padding: 20px;
    border: solid, 5px;
    color: rgb(3, 3, 3);
    flex-direction: column;
    justify-content: center;
    font-size: medium;
 

}
.DondeNosEncontramos{
    margin: 20px;
    flex-direction: column;
    justify-content:start;
    font-size: medium;
    color: black;
 
}

.gridBodyContactos{
    background-image: radial-gradient(circle, #c5caca, #cbd1d1, #d1d9d9, #d8e0e0, #dee8e7, #dfeae9, #e0ebea, #e1edec, #ddeae8, #dae6e4, #d6e3e0, #d3dfdc);
}

 


/* GRID PORQUE ORGANIC JUICES   */



.porque__organic{
    margin: 5px;
    padding: 5px;
    font-size:xx-large;
    color: black;
    text-align: justify;
    letter-spacing:normal;
}
.porque__texto{
    font-size:medium;
    color: black;
    letter-spacing: normal;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.porque__texto__lista{
    font-size:medium;
    color: black;
    letter-spacing: normal;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
}
.porque__foto{
    padding:20px;
    margin:20px;
    border:2px solid white;
   width:300px;
   display: flex;
   flex-direction: row;
   justify-content: start;

}


/* MEDIA QUERIE VISTA MOBILE  */

@media only screen and (max-width: 320px){

    .gridContainer{
        margin: auto;
        display:grid;
       grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.2fr, 1fr, 0.2fr;
        grid-template-areas: 
        " header "
        "contenidos "
       "footer "
     
    }
    
   .header{
       grid-area:header;
   }
   
   .contenidos{
       grid-area:contenidos;
   }

   .footer{
       grid-area:footer;
      flex-wrap: wrap;
    }

  
    .border{
        border: 1px , solid, black;
    }

  

  
    .header{
        font-size: 1em;
        flex-wrap: wrap;
        
    }
    .cabezera__indices{
        font-size: 1em;
        flex-wrap:wrap;
    }

    .video{
        width: 200px;
        flex-wrap:wrap;

    }
    .gridBodyGaleria{
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, 1fr);
         flex-wrap: wrap;
         width: 50%;
    }
   
    
    .pro__section{
        width:200px;

    }
  
    .foto__principal{

        width: 50%
    }
}

/* MEDIA QUERIE VISTA TABLET  */

@media only screen and (max-width: 768px){


    .gridContainer{
        margin: auto;
        display:grid;
       grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.2fr, 1fr, 0.2fr;
        grid-template-areas: 
        " header header "
        "contenidos contenidos "
       "footer footer "
     
    }

    .header{
        grid-area:header;
    }
    
    .contenidos{
        grid-area:contenidos;
    }
 
    .footer{
        grid-area:footer;
    
     }
 
   
     .border{
         border: 1px , solid, black;
     }
 
     .gridGaleria{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        flex-wrap: wrap;

     }
 
   
     .header{
         font-size: 1em;
         flex-wrap: wrap;
       
         
     }
     .cabezera__indices{
         font-size: 1em;
     }
 
     .video{
         width: 300px;
     
 
     }
     .fotos{
 
         width: 100px;
 
     }
 
     .pro__section{
         width:300px;
 
     }
     .texto__encabezado{
         font-size: 1em;
         flex-wrap: wrap;
     }
     .foto__principal{
 
         width: 50%
     }

}