.navbar{
    background-color: rgb(204, 229, 218);
    width: $ancho-100;
       .container-fluid{
        width: $ancho-100;
        font-size: $tamanio-fuente;
        background-color: $color-navegaciones;
        .logoFooter{
            width:10rem;
            height:10rem;
       
    }
    } 
   }
  