
*{
    margin: 0;  
    padding: 0; 
    box-sizing: border-box;
   }
   
  @import "variables";
  @import "header";
  @import "main";
  @import "footer";
  @import "colores";
  @import "fuentes";


  
  