.navbar{
   @extend.container-fluid;
       .container-fluid{
        width: $ancho-100;
        font-size: $tamanio-fuente;
        background-color: $color-navegaciones;
        .logoFooter{
            width:10rem;
            height:10rem;
    
    @include headerFooter($fuentes-grosor,bold);
    
       
    }
    } 
   }
   .iconoFooter{
    display: inline-block;
    margin-left: 2%;
    animation: float 4s ease-in-out infinite;
}  
 @keyframes float {
    0%{ transform: translateY(0);}
    50%{ transform: translateY(-20px);}
    100%{transform: translateY(0);}
 }

 .whatsapp{
    animation-delay: 0.5s;
 }
 .instagram{
    animation-delay: 1s;
 }
 .twitter{
    animation-delay: 2s;
 }