.navbar{
   @extend.container-fluid;
       .container-fluid{
        width: $ancho-100;
        font-size: $tamanio-fuente;
        background-color: $color-navegaciones;
        .logoFooter{
            width:10rem;
            height:10rem;
    @include headerFooter($fuentes-grosor,bold)  
    }
    } 
   }
  