
 .container-fluid{
  background-color: $color-navegaciones;
  width: $ancho-100;
    .navbar{
        width: $ancho-100;
       font-size: $tamanio-fuente;
        background-color:$color-navegaciones;
        &:hover{transform:scaleX(1);
          transition-duration: 2s;

        }     
       
        
        .img-thumbnail {
           width: 10rem;
           height: 10rem; 
         .navbar-nav{    
              font-size:$tamanio-fuente;
              margin: 5px;
              font-weight: bold;
              &:hover{transform:scaleX(1);

              }     
}
  }
 }
 }