
 /* ICONOS BLANCO Y NEGRO*/
.img-fluid-index{
    width: 10rem;
    height:10rem;
    object-fit: cover;
    display: flex;
  
}
   /* MAIN INDEX*/
   
   .h1{
    display:flex;
    justify-content:center;
    font-size: $tamanio-fuente;
    
}

/* PUBLICIDAD INDEX */ 
.publicidadIndex{
  display: flex;
  .tituloPublicidad1{
    font-size: $tamanio-fuente;
  

   .detoxTexto1{
      font-size: $tamanio-fuente;
      text-align: center;

    } 
    .tituloPublicidad2{
      @extend.tituloPublicidad1;
      
    
       .detoxTexto2{
       @extend.detoxTexto1;
        }              
    }           
}

}
     

.card{
     width: 50%;
     .card-img-top-fluid{
         width:20rem;
         height:20rem;
    
         .card-body{
            justify-content:center;
            
          .card-title-index{
           font-size: 3rem;
        
          .card-text-index{
            font-size: 2rem;
        
         .btn{
            justify-content: center;
         
          
               
} 
 } 

 }
 } 
}
}


.rounded {
  width:20rem;
  height:20rem;
  display: flex; 
 flex-wrap: nowrap;
}


  /* MAIN NOSOTROS*/ 

  .card-title{
    margin: 5px;
    padding:5px;
    font-size:map-get($fuente,titulo);
    .card-text{
      font-size: map-get($fuente,texto);
        line-height: 1cm;
        text-align: justify;
    
    }
    
}



 /* MAIN PRODUCTOS*/ 

 .tituloNuestrosProductos{
 display: flex;
 flex-direction: column;
 justify-content: center;
 .limpieza{ justify-content: center;

  }

 }
 .img-productos{
    width:20%;
    height:20%;
    object-fit: cover;
    display: flex;
    flex-wrap: nowrap;
   
}

.imgProductos{
  object-fit: cover;
}

/* MAIN GALERIA*/ 
    
.img-fluid{
    display:inline-block;
     flex-wrap: wrap;
     width:25rem;
     height:25rem;
     object-fit: cover;
     margin: 0, auto;
     padding:1rem;
 }
 
/* MAIN CONTACTO*/ 

.formularioContacto{
 justify-content: center;
 width: 50%;
 
}
#exampleDataList{
    width:50%;  
}
.mapaContacto{
    width:50%;   
}

/*  PORQUE ORGANIC JUICES   */
   
   
   .img3{
    width:600px;
    height:600px;
    object-fit: cover ;
}