$color-navegaciones:rgb(161, 226, 187) ;
$ancho-100: 100;
$ancho-50:50;
$fuentes-grosor:bold;
$tamanio-fuente:1.5rem;

/* MAPS*/

$fuentes-grosor:(
    light:300,
    regular: 400,
    bold: 700
);

$fuente: (  
 titulo:2rem,
 texto: 1.5rem
  

);

